
@model CidadeViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="mt-4">Detalhes da Cidade</h1>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Detalhes</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Id)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Id)</dd>
                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Nome)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Nome)</dd>
                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Estado)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Estado)</dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Voltar para Listagem</a>
    </div>
</div>
