
@model IEnumerable<PessoaViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1 class="mt-4">Relatório de Clientes: Modelo 2</h1>
    <p class="lead">Todos os dados do cadastro.</p>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Tipo Pessoa</th>
                    <th>Cpf/Cnpj</th>
                    <th>Cep</th>
                    <th>Endereço</th>
                    <th>Número</th>
                    <th>Complemento</th>
                    <th>Bairro</th>
                    <th>Data Nascimento Fundação</th>
                    <th>Data Cadastro</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Situacao Cadastral</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pessoa in Model)
                {
                    <tr>
                        <td>@pessoa.Id</td>
                        <td>@pessoa.Nome</td>
                        <td>@pessoa.TipoPessoa</td>
                        <td>@pessoa.CpfCnpj</td>
                        <td>@pessoa.Cep</td>
                        <td>@pessoa.Endereco</td>
                        <td>@pessoa.Numero</td>
                        <td>@pessoa.Complemento</td>
                        <td>@pessoa.Bairro</td>
                        <td>@pessoa.DataNascimentoFundacao</td>
                        <td>@pessoa.DataCadastro</td>
                        <td>@pessoa.Email</td>
                        <td>@pessoa.Celular</td>
                        <td>@pessoa.SituacaoCadastral</td>
                        <td>@pessoa.Cidade.Nome</td>
                        <td>@pessoa.Cidade.Estado</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

