﻿
@model PessoaViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h1 class="mt-4">Excluir pessoa</h1>

    <h3 class="mt-4">Tem certeza que deseja excluir essa pessoa?</h3>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Detalhes da pessoa</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">ID:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>

                <dt class="col-sm-3">Nome:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Nome)</dd>

                <dt class="col-sm-3">Tipo de Pessoa:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TipoPessoa)</dd>

                <dt class="col-sm-3">CPF/CNPJ:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.CpfCnpj)</dd>

                <dt class="col-sm-3">CEP:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Cep)</dd>

                <dt class="col-sm-3">Endereço:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Endereco)</dd>

                <dt class="col-sm-3">Número:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Numero)</dd>

                <dt class="col-sm-3">Complemento:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Complemento)</dd>

                <dt class="col-sm-3">Bairro:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Bairro)</dd>

                <dt class="col-sm-3">Data de Nascimento/Fundação:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DataNascimentoFundacao)</dd>

                <dt class="col-sm-3">Data de Cadastro:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DataCadastro)</dd>

                <dt class="col-sm-3">E-mail:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

                <dt class="col-sm-3">Celular:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Celular)</dd>

                <dt class="col-sm-3">Situação Cadastral:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.SituacaoCadastral)</dd>

                <dt class="col-sm-3">ID da Cidade:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.CidadeId)</dd>
            </dl>
        </div>
    </div>

    <form asp-action="DeletePorId" class="mt-4">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a asp-action="Index" class="btn btn-secondary">Voltar para Listagem</a>
    </form>
</div>