@model IEnumerable<PessoaViewModel>

@{
    ViewData["Title"] = "Index";
}
@*
<h1>Listagem</h1>

<div class="row">
    <div class="col-md-6">

        <form id="filtroForm" method="get">
            <div class="form-group">
                <label>Tipo:</label>
                <select name="tipo" class="form-control">
                    <option value="">Todos</option>
                    <option value="Físicas">Físicas</option>
                    <option value="Jurídicas">Jurídicas</option>
                </select>
            </div>

            <div class="form-group">
                <label>Cidade:</label>
                <select name="cidadeId" class="form-control">
                    <option value="">Todas</option>
                    @foreach (var cidade in ViewBag.Cidades)
                    {
                        <option value="@cidade.Value">@cidade.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Estado:</label>
                <select name="estado" class="form-control">
                    <option value="">Todos</option>
                    @foreach (var estado in ViewBag.Estados)
                    {
                        <option value="@estado">@estado</option>
                    }
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
    </div>
</div>
 *@
@* <hr /> *@
@*
<p>
    <a asp-action="Create">Cadastrar nova Pessoa</a>
</p>

<p>
    <button id="btnRelatorioModelo1" class="btn btn-primary">Relatório Modelo 1</button>
</p>

<p>
    <button id="btnRelatorioModelo2" class="btn btn-primary">Relatório Modelo 2</button>
</p> *@

@* <h3>@ViewData["Message"]</h3> *@
@*
<table class="table" id="tabelaPessoas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfCnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.CpfCnpj</td>
                <td>@item.TipoPessoa</td>
                <td>@item.Cidade.Nome</td>
                <td>@item.Cidade.Estado</td>
                <td>@item.DataCadastro</td>
                <td>@item.Idade</td>
                <td>
                    <a href="/Pessoa/Edit/@item.Id">Edit</a> |
                    <a href="/Pessoa/Details/@item.Id">Details</a> |
                    <a href="/Pessoa/Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@


<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Listagem</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form id="filtroForm" method="get">
                <div class="form-group">
                    <label for="tipo">Tipo:</label>
                    <select name="tipo" id="tipo" class="form-control">
                        <option value="">Todos</option>
                        <option value="Físicas">Físicas</option>
                        <option value="Jurídicas">Jurídicas</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="cidade">Cidade:</label>
                    <select name="cidadeId" id="cidade" class="form-control">
                        <option value="">Todas</option>
                        @foreach (var cidade in ViewBag.Cidades)
                        {
                            <option value="@cidade.Value">@cidade.Text</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="estado">Estado:</label>
                    <select name="estado" id="estado" class="form-control">
                        <option value="">Todos</option>
                        @foreach (var estado in ViewBag.Estados)
                        {
                            <option value="@estado">@estado</option>
                        }
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Filtrar</button>
            </form>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <hr />

            <div class="btn-group">
                <a asp-action="Create" class="btn btn-success mr-2 rounded">Cadastrar nova Pessoa</a>
                <button id="btnRelatorioModelo1" class="btn btn-primary mr-2 rounded">Relatório Modelo 1</button>
                <button id="btnRelatorioModelo2" class="btn btn-primary rounded">Relatório Modelo 2</button>
            </div>

            <h3 class="mt-4">@ViewData["Message"]</h3>

            <div class="table-responsive">
                <table class="table table-striped" id="tabelaPessoas">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CpfCnpj)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TipoPessoa)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cidade)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cidade.Estado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataCadastro)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Idade)
                            </th>
                            <th>
                                Ações
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Nome</td>
                                <td>@item.CpfCnpj</td>
                                <td>@item.TipoPessoa</td>
                                <td>@item.Cidade.Nome</td>
                                <td>@item.Cidade.Estado</td>
                                <td>@item.DataCadastro</td>
                                <td>@item.Idade</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a href="/Pessoa/Edit/@item.Id" class="btn btn-sm btn-primary">Edit</a>
                                        <a href="/Pessoa/Details/@item.Id" class="btn btn-sm btn-info">Details</a>
                                        <a href="/Pessoa/Delete/@item.Id" class="btn btn-sm btn-danger">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#filtroForm').submit(function (e) {
            e.preventDefault(); // Impede o envio do formulário padrão

            var formData = $(this).serialize(); // Serializa os dados do formulário
            console.log('formData ', formData);
            $.ajax({
                url: '/',
                type: 'GET',
                data: formData,
                success: function (response) {
                    console.log('response ', response);

                    // Extrai apenas as linhas da tabela da resposta
                    var tableRows = $(response).find('#tabelaPessoas tbody').html();

                    // Limpa o conteúdo da tabela
                    $('#tabelaPessoas tbody').empty();

                    // Adiciona as linhas extraídas à tabela existente
                    $('#tabelaPessoas tbody').append(tableRows);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText); // Trata erros, se necessário
                }
            });
        });
    });

    $(document).ready(function () {
        $('#btnRelatorioModelo1').click(function () {
            // Fazer uma solicitação AJAX para obter o relatório
            $.ajax({
                url: '/Relatorio/Index', // Substitua '/Relatorio/Modelo1' pelo URL correto do seu endpoint de relatório
                type: 'GET',
                success: function (response) {
                    // Abra o relatório em uma nova guia do navegador
                    window.open('/Relatorio/Index');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText); // Tratar erros, se necessário
                }
            });
        });
    });

    $(document).ready(function () {
        $('#btnRelatorioModelo2').click(function () {
            // Fazer uma solicitação AJAX para obter o relatório
            $.ajax({
                url: '/Relatorio/Modelo2',
                type: 'GET',
                success: function (response) {
                    // Abra o relatório em uma nova guia do navegador
                    window.open('/Relatorio/Modelo2');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText); // Tratar erros, se necessário
                }
            });
        });
    });

</script>

